<div id="tickets">
	<a href="https://billetto.dk/flux-festival-aarhus-2014">Køb billet på billetto.dk <span></span></a>
</div>
<footer role="contentinfo">
	<div class="container">
		<ul id="sponsors">
			<li ng-repeat="sponsor in sponsors" class="sponsor">
				<img ng-src="/img/sponsors/{{sponsor.image}}" alt="{{sponsor.name}}">
			</li>
		</ul>
		<p><b>Flux festival 2014</b><br>Fokus på det kompromisløse,<br>udfordrende &amp; eksperimenterende.</p>
		<div id="men">
			<img src="img/layout/men.png" alt="men">
		</div>
	</div>
</footer>