<div class="info">
	<div class="info-image">
		<img src="img/artists/syndogskam.jpg" alt="">
	</div>
	<div class="info-text">
		<h2>Om Flux Festival</h2>
		<p>Flux Festival finder sted 21.-23. august på godsbanen i Aarhus henholdvis på Radar samt A- og B-huset.
Festivalen fokuserer på den voksende undergrund i dansk musik. En undergrund, der i høj grad florerer og sprudler uden for radiokanalernes frekvenser, men trods dette ikke står til at ignorere. I nogle tilfælde er musikken antikommerciel, i andre er den blot for kompromisløs til at have nogen branchemæssig værdi. I begge tilfælde er den repræsenterede musik alligevel udtryk for indiskutabel kunst og skaberlyst på tværs af genrer og etiske grundlag, for ikke at glemme dybt aktuel.</p>	
	</div>
</div>