<div id="shows">
	<div class="info-text">
		<h2>Andre shows</h2>
		<h3>Kommende</h3>
		<p>13.09.14: Amen Dunes (US) & Several Things @ Atlas<br>
04.09.14: Flux @ Festugen, Aarhus feat. Moonface (CA), Papir, Narcosatanicos & Urr</p>
		<h3>Tidligere</h3>
<p>08.08.14: Robert Turman (US) + Rosen & Spyddet @ B-huset<br>
31.05.14: Space Program + Vartegn + Gr&oslash;n @ Pier 1, Aarhus Havn<br>
12.04.14: The Love Coffin, Scared Crow, Blod @ Tr&oslash;jborg Beboerhus<br>
05.04.14: Tim Hecker (CA), Dean Blunt (UK) @ Atlas<br>
19.03.14: The Men (US), Yung @ Radar<br>
28.01.14: Traams (UK), Lowly @ Radar<br>
14.12.13: URR, Tongues, Slissof @ Radar<br>
12.12.13: Femminielli Noir (CA/DE) @ Double Rainbow</p>
		<p>Festival 2013 (19.-21. September):<br>
Age Coin, Papir, Lust For Youth, Synd og skam, De H&oslash;je H&aelig;le, The Road To Suicide, ToTo, FOSSILS, Ghost Flute & Dice, Happy Hookers For Jesus, Snaredrum, Space Program, The Silver Linings, Narcosatanicos, Sleeping, Bed Bugs, Woven Blush, Urr, Boujeloud, Several Things, Perennial Flax, A2, Rambling Session dj-set</p>
		<!-- <ul>
			<li ng-repeat="show in shows">{{show.artists | artistList}}</li>
		</ul> -->
	</div>
</div>