//@import "http://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300,800,500";
@import "http://fonts.googleapis.com/css?family=Inconsolata|Raleway:300,800,500";

$sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Inconsolata", "Georgia", Cambria, Times New Roman, Times, serif;

$regular: 300;
$bold: 500;
$extraBold: 800;

@font-face {
    font: {
        family: 'Flaticons Solid';
        weight: normal;
        style: normal;
    }
    src: url('../fonts/flaticons-solid.eot');
    src: url('../fonts/flaticons-solid.eot?#iefix') format("embedded-opentype"),
        url('../fonts/flaticons-solid.woff') format('woff'),
        url('../fonts/flaticons-solid.ttf') format('truetype'),
        url('../fonts/flaticons-solid.svg#flaticons-solid') format('svg');
}   

body {
	font-family: $sans-serif;
	font-size: 62.5%;
}

h1, h2, h3 {
	font-family: $sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.16em;
}



p {
	//font-family: $serif;
}

p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  // -webkit-font-feature-settings: "liga", "dlig";
  //  -moz-font-feature-settings: "liga=1, dlig=1";
  //     -ms-font-feature-settings: "liga", "dlig";
  //      -o-font-feature-settings: "liga", "dlig";
  //         font-feature-settings: "liga", "dlig";
}