<div id="tickets">
	<a href="https://billetto.dk/da/events/flux-festival-2015">Køb billet på billetto.dk <span></span></a>
</div>
<footer role="contentinfo">
	<div class="container">
		<ul id="sponsors">
			<!--<li ng-repeat="sponsor in sponsors" class="sponsor">
				<img ng-src="/img/sponsors/{{sponsor.image}}" alt="{{sponsor.name}}">
			</li>-->
			<li class="sponsor"><img src="img/sponsors/aarhuskommune.png" alt="Aarhus Kommnue"></li>
			<li class="sponsor"><img src="img/sponsors/radar.png" alt="Radar"></li>
			<li class="sponsor"><img src="img/sponsors/tuborg.png" alt="Tuborg"></li>
			<li class="sponsor"><img src="img/sponsors/statenskunstfond.png" alt="Statens Kunstfond"></li>
		</ul>
		<p><b>Flux festival</b><br>Fokus på det kompromisløse,<br>udfordrende &amp; eksperimenterende.</p>
		<div id="men">
			<img src="img/layout/men.png" alt="men">
		</div>
	</div>
</footer>