<header role="banner">
	<div class="container">
		<div id="logo">
			<a href="/">
				<img src="img/logo.png" alt="Flux-mand" />
			</a>
		</div>
		<h1><a href="/">{{title}}</a></h1>
		<h2>Alternativ musikfestival i Århus</h2>
		<p class="tagline">20. - 22. august</p>
		<p class="tagline">3 dage for 150 kr</p>
		<p class="tagline">A-Huset og B-Huset</p>
		<nav role="navigation">
			<ul>
				<li>Info</li>
			</ul>
		</nav>
		<!-- <nav role="navigation" class="{{activeState}}-active">
			<span id="arrowdown"><img src="img/layout/arrowdown.png" alt="down"></span>
			<ul>
				<li ng-click="updateActiveState(page.name)" ng-repeat="page in pages" ui-sref-active="active">

					<a ui-sref="root.{{page.name}}">{{page.title}}</a>
				</li>
			</ul>
		</nav>-->
	</div>
</header>