<div id="shows">
	<div class="info-text">
		<h2>Shows</h2>
		<h3>Kommende</h3>
		<p>Festival 2015 (20.-22. august):<br>Iceage, Selvhenter, Double Space, Emenkaya, Rosen &amp; Spyddet</p>
		<p>11.08.15 Ought (CA) + TBA @ Radar</p>
		<p>31.05.15 Ducktails + Limited + Glow Kit + Snaredrum + Violent Video + Hong Kong Ladyboys @ Godsbanen</p>
		<p>23.05.15 Slægt + Broder + Urr @ Ambassaden</p>
		<h3>Tidligere</h3>
		<p>02.05.15 First Hate + LISS + Erotic Harry @ Jærgergårdsgade 152</p>
		<p>28.04.15 Oren Ambarchi (AU) + Latex Lynx @ Atlas</p>
		<p>24.04.15 Heatsick (UK) + Bastian (Regelbau) + Natal Zaks (Regelbau)</p>
		<p>06.03.15 Useless Eaters (US) + Fright Eye + J.E. Useless @ A-Huset</p>
		<p>14.02.15 Naomi Punk (US) + Tile Breaker @ Trøjborg Beboerhus</p>
		<p>23.01.15 Lorenzo Senni (IT) + F.E Denning + Natal Zaks @ B-Huset</p>
		<p>12.12.14 Les Big Byrd (SE) + Morgen Square + Papir @ Radar</p>
		<p>06.11.14 Snaredrum + Total Heels @ Radar</p>
		<p>26.09.14 Argot + Sansernes Rus + Vartegn @ Ambasaden</p>
		<p>13.09.14 Amen Dunes (US) + Ryley Walker + Several Things @ Atlas</p>
		<p>04.09.14 Moonface (CA) + Papir + Narcosatanicos + URR @ Amfiscenen</p>
		<p>Festival 2014 (21.-23. august):<br>
		Assembler, Birthgiving Toad, Blod, Communions, Dature, Gäy, Glow Kit, Gooms, Jonas Frederiksen, Lower, Morgan Square, Plants, Pleasure, Puce Mary, Seksuelle Mennesker,Shiggajon, Slængs, SOL, Sunken, Teen Beams, The Wands, Yung.</p>
		<p>08.08.14: Robert Turman (US) + Rosen & Spyddet @ B-huset</p>
		<p>31.05.14: Space Program + Latex Lynx + Gr&oslash;n @ Pier 1, Aarhus Havn</p>
		<p>12.04.14: The Love Coffin, Scared Crow, Blod @ Tr&oslash;jborg Beboerhus</p>
		<p>05.04.14: Tim Hecker (CA), Dean Blunt (UK) @ Atlas</p>
		<p>19.03.14: The Men (US), Yung @ Radar</p>
		<p>28.01.14: Traams (UK), Lowly @ Radar</p>
		<p>14.12.13: URR, Tongues, Slissof @ Radar</p>
		<p>12.12.13: Femminielli Noir (CA/DE) @ Double Rainbow</p>
		<p>Festival 2013 (19.-21. september):<br>
Age Coin, Papir, Lust For Youth, Synd og skam, De H&oslash;je H&aelig;le, The Road To Suicide, ToTo, FOSSILS, Ghost Flute & Dice, Happy Hookers For Jesus, Snaredrum, Space Program, The Silver Linings, Narcosatanicos, Sleeping, Bed Bugs, Woven Blush, Urr, Boujeloud, Several Things, Perennial Flax, A2, Rambling Session dj-set</p>
		<!-- <ul>
			<li ng-repeat="show in shows">{{show.artists | artistList}}</li>
		</ul> -->
	</div>
</div>
